/* CSS FILE TO RESET BASIC COLORS */

/*  CSS VARIABLES OF ALL THE COLORS  */

:root {
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
}


/* CLASSES THAT USE THE COLORS REMADE TO USE THE NEW COLORS  */

/* SECONDARY  */

